{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}
<h2>Seja bem vindo ao site</h2>
<table>
    <thead>
        <tr>
            <th>Nome da receita</th>
            <th>Vídeo</th>
        </tr>
    </thead>
    <tbody>
        {% for chave, nome_da_receita in nome_das_receitas.items %}
            <tr>
                <td><a href="{% url 'receita' %}">{{nome_da_receita}}</a></td>
                <td>https://www.youtube.com/watch?v=Nn9140bDPnc</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'partials/footer.html' %}
{% endblock %}
