<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PersonalCheff</title>
</head>
<body>
    <h1>PersonalCheff</h1>
    <h2>Seja bem vindo ao site</h2>
    <table>
        <thead>
            <tr>
                <th>Nome da receita</th>
                <th>Ingredientes</th>
                <th>Modo de preparo</th>
                <th>Vídeo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>SUCO DE LARANJA</td>
                <td>Caldo de 5 laranjas, Caldo de 1 limão, Açúcar a gosto, 1 colher de raspa da casca de 1 laranja</td>
                <td>Misture tudo em 1 jarra de água gelada, Passe por uma peneira fina.</td>
                <td>https://www.youtube.com/watch?v=Nn9140bDPnc</td>
            </tr>
        </tbody>
    </table>
</body>
</html>