{% extends 'base.html' %}
{% load static %}
{% block content %}
<a href="{% url 'index' %}">
    <img src="{% static 'logo.png' %}">
</a>
<h1>PersonalCheff</h1>
<h2>Seja bem vindo ao site</h2>
<table>
    <thead>
        <tr>
            <th>Nome da receita</th>
            <th>Ingredientes</th>
            <th>Modo de preparo</th>
            <th>Vídeo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="{% url 'receita' %}">SUCO DE LARANJA</a></td>
            <td>Caldo de 5 laranjas, Caldo de 1 limão, Açúcar a gosto, 1 colher de raspa da casca de 1 laranja</td>
            <td>Misture tudo em 1 jarra de água gelada, Passe por uma peneira fina.</td>
            <td>https://www.youtube.com/watch?v=Nn9140bDPnc</td>
        </tr>
    </tbody>
</table>
{% endblock %}